<!DOCTYPE html>
<html lang="en-US" ng-app="jotto">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jotto Game</title>
    <!-- Bootstrap css and my own css -->
    <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="container-fluid">
    	<div class="page-header col-md-8 col-md-offset-2">
	    	<h1>JOTTO</h1>
	    	<h4>How many guesses will you need to figure out my word?</h4>
    	</div>
    </div>

    <div ng-controller="guessCtrl as guess">
    	<div class="row">
    		<div class="winnerDiv col-md-8 col-md-offset-2" ng-if="guess.playerWin">
    			<h3>Congratulations! {{guess.fiveWords.secretWord | uppercase}} is the correct guess! It took you {{guess.playerGuess.length}} tries. {{guess.playerWinResponse}}</h3>	
    		</div>
	    </div>

	    <div class="row">
	    	<div class="col-md-8 col-md-offset-2 well well-sm">
	    		<div class="row">
		    		<h4>Track your letters</h4>
		    		<div class="checkbox pull-right">
	  					<label><input type="checkbox" ng-model="guess.allowNonUnique">Allow non-Unique Guesses?</label>
					</div>
				</div>
		    	<div class="row button-row">
		    		<button ng-repeat="letter in guess.alphabet"
		    				ng-if="$index < 13" 
		    				class="btn btn-sm letter-btn" 
		    				ng-class="guess.alphabet[$index].status" 
		    				ng-click="guess.changeAlphabetClass($index)">
		    					{{guess.alphabet[$index].letter}}
		    		</button>
	    		</div>
	    		<div class="row button-row">
	    			<div>
			    		<button ng-repeat="letter in guess.alphabet"
			    				ng-if="$index > 12" 
			    				class="btn btn-sm letter-btn" 
			    				ng-class="guess.alphabet[$index].status" 
			    				ng-click="guess.changeAlphabetClass($index)">
			    					{{guess.alphabet[$index].letter}}
			    		</button>
		    		</div>
	    		</div>
	    	</div>
	    </div>

    	<div class="row">
	    	<div class="col-md-8 col-md-offset-2">
	    		<div class="col-xs-4 col-sm-3 col-md-2" class="player-guess"
	    			 ng-repeat="playerGuess in guess.playerGuess">
	    			 <h5>{{playerGuess.guess.toUpperCase()+" "+playerGuess.numCorrect}}</h5>
	    		</div>
	    	</div>
    	</div>

    	<div class="input-form row">
	    	<div class="col-md-8 col-md-offset-2 well well-sm" ng-if="!guess.playerWin">
	    		<div class="row">
		    		<form name="guess.guessForm" class="form" ng-submit="guess.formGuessSubmit()">
				    		<input class="form-control" type="text" placeholder="Guess!" ng-model="guess.formGuess">
				    		<button class="btn btn-sm btn-info pull-right guess-btn">Guess!</button>
				   	</form>
		    		<div class="guessResponse" ng-show="guess.formGuessResponse"><h5>{{guess.formGuessResponse}}</h5></div>
	    		</div>
	    	</div>
    	</div>
    </div>

    <!-- third party js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Our application scripts -->
    <script src="js/app.js"></script>
    <script src="js/controllers/guess.js"></script>
    <script src="js/factories/fiveWords.js"></script>

</body>
</html>

